.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

*.log
*.tmp
*.swp
*~
.~*

.env
.env.*
!.env.*.example
!**/.env.*.example

.idea/
*.iml
*.ipr
*.iws
.vscode/

.classpath
.project
.settings/
.sts4-cache/

**/__pycache__/
**/*.py[cod]
**/*.pyd
**/*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

**/.venv/
**/venv/

data-collector/output/

**/target/
**/build/
