spring:
  application:
    name: backend-api
  profiles:
    default: test
  sql:
    init:
      mode: never

server:
  port: ${SERVER_PORT:8080}

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:}

  data-collector:
    enabled: ${DATA_COLLECTOR_ENABLED:false}
    working-dir: ${DATA_COLLECTOR_WORKING_DIR:}
    python-path: ${DATA_COLLECTOR_PYTHON_PATH:}
